<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <nav th:fragment="nav">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/ViewMasterClassSchedule}">View Master Class Schedule</a> <!--/ViewMasterClassSchedule in the {} box is refering to java file-->
            <a th:href="@{/timetable}">View Timetable</a>
            <a th:href="@{/manageplan}">Manage Plan</a>
            <a th:href="@{/ManageCourse}">Manage Course</a>
            <a th:href="@{/studentlist}">View Student List</a>
            <span class="nav-spacer"></span>
            <a th:href="@{/login}">Log In</a>
        </nav>
    </body>
</html>
