<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <nav th:fragment="nav">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/greeting}">Greeting</a>
            <a th:href="@{/ViewMasterClassSchedule}">View Master Class Schedule</a> <!--/ViewMasterClassSchedule in the {} box is refering to java file-->
            <a th:href="@{/Timetable}">Check Timetable</a>
            <a th:href="@{/manageclass}">Manage Class</a>
            <span style="margin-left: auto;"></span>
            <a th:href="@{/login}">Log In</a>
        </nav>
    </body>
</html>
